<!DOCTYPE html>
<html>
<head>
    <title>Codicamp Hologram Manager</title>

    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <script src="https://d3tvtfb6518e3e.cloudfront.net/1/opbeat.min.js"
        data-org-id="c8524eb2d2de42fe85fac43583894524"
        data-app-id="622fe92a9a">
    </script>

    <% _.each(scripts, function(script){ %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>

    <div id="main-wrapper"></div>

    <script type="text/javascript" src="app/app.js"></script>

</body>
</html>