<div id="edit" class="edit-container">

    <a href="javascript:;" class="close-subnavigation" id="close-subconfiguration"></a>
    <h2 class="nav-title">Edit</h2>

    <div class="demo-container flex-parent">
        <div id="preview" class="flex-child right-margin">
            <div class="triangle-wrapper">
                <div class="triangle-up">
                </div>
            </div>

            <div class="triangle-base"></div>

            <div class="align-bottom">
                <div class="flex-parent sp-bt save-changes">
                    <div class="flex-parent sp-bt flex-child right-margin">
                        <input type="text" form="transformations" placeholder="New Preset Name" class="flex-child right-margin">
                        <button form="transformations" class="button inverse flex-child">Save Preset</button>
                    </div>

                    <div class="flex-parent sp-bt flex-child right-margin">
                        <input type="text" form="transformations" placeholder="New Scene Name" class="flex-child right-margin">
                        <button form="transformations" class="button inverse flex-child">Save Scene</button>
                    </div>
                </div>

                <div class="flex-parent sp-bt">
                    <button form="transformations" class="button inverse big flex-child right-margin">Apply</button>
                    <button form="transformations" class="button big flex-child">Reset</button>
                </div>
            </div>
        </div>

        <form action="" id="transformations" class="flex-child">
            <fieldset id="move" class="action-row">
                <legend class="action-name">Move</legend>

                <div class="flex-parent sp-bt">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>

            <fieldset id="rotate" class="action-row">
                <legend class="action-name">Rotate</legend>

                <div class="flex-parent sp-bt">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>

            <fieldset id="scale" class="action-row">
                <legend class="action-name">Scale</legend>

                <div class="flex-parent sp-bt">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>

            <fieldset id="flip" class="action-row">
                <legend class="action-name">Flip</legend>

                <div class="flex-parent cn">
                    <a href="javascript:;">horizontal</a>
                    <a href="javascript:;">vertical</a>
                </div>
            </fieldset>
            
            <fieldset id="media" class="action-row">
                <legend class="action-name">Media</legend>

                <div class="flex-parent sp-bt">
                    <input type="text" class="flex-child" placeholder="url">

                    <div class="divider-text flex-child">or</div>

                    <div class="upload-btn-wrapper flex-child">
                        <a href="javascript:;" class="button inverse upload-btn veil">Upload</a>
                        <input type="file" class="upload-btn real">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>