<div id="edit" class="edit-container">

    <a href="javascript:;" class="close-subnavigation" id="close-subconfiguration"></a>
    <h2 class="nav-title">Edit</h2>

    <div class="demo-container flex-parent">
        <div id="preview" class="flex-child">
            <div class="triangle-wrapper">
                <div class="triangle-up">
                </div>
            </div>
            <div class="triangle-base"></div>
        </div>

        <form action="" id="transformations" class="flex-child">
            <fieldset id="move" class="action-row">
                <legend class="action-name">Move</legend>

                <div class="flex-parent">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>

            <fieldset id="rotate" class="action-row">
                <legend class="action-name">Rotate</legend>

                <div class="flex-parent">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>

            <fieldset id="scale" class="action-row">
                <legend class="action-name">Scale</legend>

                <div class="flex-parent">
                    <input type="text" placeholder="x" class="flex-child">
                    <input type="text" placeholder="y" class="flex-child">
                    <input type="text" placeholder="z" class="flex-child">
                </div>
            </fieldset>
        </form>
    </div>

</div>