<div id="edit" class="edit-container">

    <a href="javascript:;" class="close-subnavigation" id="close-subconfiguration"></a>
    <h2 class="nav-title">Edit</h2>

    <div class="demo-container">
        <form action="" id="transformations">
            <fieldset id="move">
                <legend class="action-name">Move</legend>

                <input type="text" placeholder="x">
                <input type="text" placeholder="y">
                <input type="text" placeholder="z">
            </fieldset>

            <fieldset id="rotate">
                <legend>Rotate</legend>

                <input type="text" placeholder="x">
                <input type="text" placeholder="y">
                <input type="text" placeholder="z">
            </fieldset>

            <fieldset id="scale">
                <legend>Scale</legend>

                <input type="text" placeholder="x">
                <input type="text" placeholder="y">
                <input type="text" placeholder="z">
            </fieldset>
        </form>
    </div>

</div>