<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../underscore.js"></script>
</head>
<body>
	<div class="wrapper-preset">
		<div id="preset" class="">
		</div>

		<script type="text/javascript">

			var div = document.getElementById("preset");
			var arrPreset = ["preset1", "preset2" , "preset3"];

			_.each(arrPreset , function(item){
				div += '<div>' + item + ''
			})


		</script>

				<!-- <div> PRESET 1 </div> -->    <!-- preset 1 -->
				<!-- <div> PRESET 2 </div> -->    <!-- preset 2 -->
				<!-- <div> PRESET 3 </div> -->    <!-- preset 3 -->
				<!-- <div> PRESET 4 </div> -->    <!-- preset 4 -->
				<!-- <div> PRESET 5 </div> -->    <!-- preset 5 -->

		

</body>
</html>