<form action="" class="login-form">
    <a href="javascript:;" class="close-subnavigation" id="close-subconfiguration"></a>
    <h2 class="nav-title">login</h2>
    <fieldset class="form-group">
        <input type="email" id="email-field" placeholder="Email">
    </fieldset>
    <fieldset class="form-group">
        <input type="password" id="password-field" placeholder="Password">
    </fieldset>
    <fieldset class="form-group">
        <button class="login-btn" id="initiate-authentication">Login</button>
        <!-- <button id="continue-local">Skip</button>
        <button id="recover-password">Forgot password ?</button> -->
    </fieldset>
    <fieldset class="form-group flex-centering">
        <a href="javascript:;" class="icon-facebook" data-method="facebook"></a>
        <a href="javascript:;" class="icon-google" data-method="google"></a>
        <a href="javascript:;" class="icon-github" data-method="github"></a>
    </fieldset>
</form>
