<div class="wrapper">
    <header id="header" class="header">
        <a href="javascript:;" class="button active">Click me</a>
        <!-- Settings content -->
        <div id="settings-wrapper"></div>
        
        <!-- Presets content -->
        <div id="presets-wrapper"></div>
    </header>

    <main id="hologram-projection">

        <div class="main-container">
            <div class="triangle-one">
                <img src="img/creative1.jpg" alt="" class="main-img">
            </div>
            <div class="triangle-two">
                <img src="img/creative1.jpg" alt="" class="main-img">
            </div>
            <div class="triangle-three">
                <img src="img/creative1.jpg" alt="" class="main-img">
            </div>
            <div class="triangle-four">
                <img src="img/creative1.jpg" alt="" class="main-img">
            </div>
        </div>
        
    </main>
</div>