
<header id="header" class="header">
    <a href="javascript:;" id="call-configuration" class="button pos-top-left">Configure</a>
</header>

<main id="hologram-projection">

    <div id="projection">
        <div class="surface surface-top">
            <div class="surface-content">
                <div class="surface-inner-wrapper">

                    <img src="app/images/calibration-image.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="surface surface-bottom">
            <div class="surface-content">
                <div class="surface-inner-wrapper">

                    <img src="app/images/calibration-image.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="surface surface-left">
            <div class="surface-content">
                <div class="surface-inner-wrapper">

                    <img src="app/images/calibration-image.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="surface surface-right">
            <div class="surface-content">
                <div class="surface-inner-wrapper">

                    <img src="app/images/calibration-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>

    <nav class="nav" id="main-navigation">
        <a href="javascript:;" class="nav-link" data-state="login">Login</a>
        <a href="javascript:;" class="nav-link" data-state="settings">Settings</a>
        <a href="javascript:;" class="nav-link" data-state="presets">Presets</a>
        <a href="javascript:;" class="nav-link" id="close-configuration">Close</a>
    </nav>

    <div class="view-wrapper">
        <!-- Settings content -->
        <div id="settings-wrapper"></div>

        <!-- Presets content -->
        <div id="presets-wrapper"></div>

        <!-- Login content -->
        <div id="login-wrapper"></div>
    </div>


