<div class="wrapper">
    <header id="header" class="header">
        <a href="javascript:;" class="button active">Click me</a>
        <!-- Settings content -->
        <div id="settings-wrapper"></div>
        
        <!-- Presets content -->
        <div id="presets-wrapper"></div>
    </header>

    <main id="hologram-projection">

        <div id="projection">
            <div class="surface surface-top">
                <div class="surface-content">
                    <div class="surface-inner-wrapper">
                        
                        <img src="app/images/calibration-image.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="surface surface-bottom">
                <div class="surface-content">
                    <div class="surface-inner-wrapper">
                        
                        <img src="app/images/calibration-image.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="surface surface-left">
                <div class="surface-content">
                    <div class="surface-inner-wrapper">

                        <img src="app/images/calibration-image.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="surface surface-right">
                <div class="surface-content">
                    <div class="surface-inner-wrapper">
                        
                        <img src="app/images/calibration-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</div>