<form action="" class="login-form">
    <a href="javascript:;" class="close-subnavigation" id="close-subconfiguration"></a>
    <h2 class="nav-title">register</h2>
    <fieldset class="form-group">
        <input type="email" class="register-input" id="register-email" placeholder="Email">
    </fieldset>
    <fieldset class="form-group">
        <input type="password" class="register-input" id="register-password" placeholder="Password">
    </fieldset>
    <fieldset class="form-group">
        <input type="password" class="" id="confirm-password" placeholder="Confirm Password">
    </fieldset>
    <fieldset class="form-group">
        <button class="login-btn" id="initiate-registration">Register</button>
        <!-- <button id="continue-local">Skip</button>
        <button id="recover-password">Forgot password ?</button> -->
    </fieldset>
</form>
