<header class="">Place for close button</header>
<section class="">
	<div class=""><a href=""> PREVIEW </a> </div>	<!-- preview -->
	<div class=""><a href=""> SCALE </a> </div>		<!-- scale -->
	<div class=""><a href=""> TRANSLATE </a> </div>	<!-- translate -->
	<div class=""><a href=""> ROTATE</a> </div>		<!-- rotate -->
	<div class=""><a href=""> FLIP </a> </div>		<!-- flip -->
</section>

<footer class="">
	<div class=""> <a href="presets-layout.html"> LOAD </a> </div>  <!-- button LOAD -->

	<div class=""> <a href="presets-layout.html"> UPLOAD </a> </div>  <!-- button UPLOAD -->		
</footer>