<div class="wrapper-edit">
	<header class="">Place for close button</header>
	<section class="">
		<div class=""><a href=""> PREVIEW </a> </div>	<!-- preview -->
		<div class=""><a href=""> SCALE </a> </div>		<!-- scale -->
		<div class=""><a href=""> TRANSLATE </a> </div>	<!-- translate -->
		<div class=""><a href=""> ROTATE</a> </div>		<!-- rotate -->
		<div class=""><a href=""> FLIP </a> </div>		<!-- flip -->
	</section>

	<footer class="">
		<div class=""> <a href=""> LOAD </a> </div>  <!-- button LOAD -->
		<!--  or -->
		<!-- <button type="button" class=""> LOAD </button> -->

		<div class=""> <a href="layout-preset.html"> UPLOAD </a> </div>  <!-- button UPLOAD -->
		<!--  or -->
		<!-- <button type="button" class=""> UPLOAD </button> -->			
	</footer>
</div>